.footer {
    background-color: #252525;
    color: #fff;
    border-radius: 10px 10px 0 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 60%;
    left:20%;
}
.footer h2 {
    font-size: 1.2rem;
}