.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10vh;
}

.header img {
    width: 2rem;
    object-fit: contain;
}

@media screen and (min-width: 600px) {
    .header img {
        width: 2.5rem;
    }
}