.looders-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.looders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.looder_img {
    width: 46%;
    height: 20vh;
    background-color: #252525;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #fff
}
.looder_img img {
    width:100%;
    height: 16vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.looder_img p {
    font-size: 0.7rem;
    height: 4vh;
    padding: 0 0.5rem;
    color:#fff;
    margin: 0
}
.looders-container .nothing {
    width: 60%;
    margin: auto;
}

@media screen and (min-width: 600px) {
    .looders-container .nothing, .looders-content  {
        width: 50%;
    }
    .looder_img img {
        height: 22vh;
    }
    .looder_img {
        height: 26vh;
    }
}

@media screen and (min-width: 860px) {
    .looder_img img {
        height: 25vh;
    }
    .looder_img {
        height: 28vh;
    }
}

@media screen and (min-width: 1200px) {
    .looder_img img {
        height: 28vh;
    }
    .looder_img {
        height: 31vh;
    }
}

