body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
  outline: none;
  color: #252525;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
